*{margin:0;padding:0;list-style:none;text-decoration:none;}
#header{clear:both;width:100%;height:30px;line-height:30px;background:#F1F1F1;}
a{color:#666;}
a:hover{color:red;}
body{font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;}

.w{width:1210px;margin:0 auto;position:relative;}
.w .logo{width:360px;height:60px;padding:20px 0;float:left;}
.w .search{float:left;margin-top:30px;}
.w .search .text{float:left;height:24px;line-height:24px;padding:4px;border-width:2px 0 2px 2px;border-color:#b61d1d;border-style:solid;font-size:14px;font-family:"microsoft yahei";width:455px;outline:0;color: rgb(153, 153, 153);}
.w .search .button{float:left;width:82px;height:36px;background:#b61d1d;border:none;color:#fff;font-size:16px;}
.w .right{width:75px;height:34px;border:1px solid #dfdfdf;padding:0 28px 0 34px;text-align:center;line-height:34px;float:right;margin-right:65px;margin-top:30px;font-size:12px;position:relative;}
.w .right .gw-left{position:absolute;top:8px;left:17px;}
.w .right .gw-right{font: 400 13px/13px simsun;top:10px;position:absolute;right:11px;color:#999}
.w .right .gw-count{position:absolute;top:-4px;left:104px;display:inline-block;font: 400 13px/13px simsun;background:#c81623;border-radius:7px 7px 7px 0;min-width: 12px;text-align: center;color:#fff;}

.dorpdown-layer{width:308px;height:60px;border:1px solid #ccc;position:absolute;top:35px;left:-172px;text-align:center;display:none;}
.right:hover{border-bottom:none;}
.right:hover .dorpdown-layer{display:block;background:#fff;}
.hotwords{clear:both;width:518px;position:absolute;top:74px;left:351px;}
.hotwords a{float:left;margin:0 7px;}
.clear{clear:both;}
.focus{width:1210px;margin:0 auto;height:46px;position:relative;}
.focus .focus-a{width:210px;height:44px;}
.focus .focus-a .nav-img2{width:100%;}
.focus .focus-a .fouc-font{position:absolute;top:14px;left:10px;}
.focus .focus-a .fouc-font a{color:#fff;font-size:16px;}
.focus .focus-a .fouc-img1 img{height:50px;}
.focus .focus-b{width:650px;position:absolute;top:15px;left:230px;}
.focus .focus-b ul li{float:left;padding:0 20px;}
.focus .focus-b ul li a{color:#333;font-size:16px;}
.focus .focus-b ul li a:hover{color:red;}
.focus .focus-c{position:absolute;right:0;top:4px;}
#navv{clear:both;position:relative;width:100%;background:red;}
.nav-img{height:10px;width:100%;position:absolute;top:40px;}
.nav-imgs{width:100%;height:469px;position:absolute;top:65px;}
.focus .focus-d{position:absolute;top:3px;left:458px;}
.dd-inner{height:466px;background:#c81623;width:210px;margin-left:1px;margin-top:7px;margin-left:0px;}
.dd-inner .item{height:31px;color:#fff;line-height:31px;border-left:2px solid #c81623;position:relative;}
.dd-inner .item h3{font-family: "microsoft yahei";font-size:14px;font-weight:400;height:31px;line-height:31px;position: absolute;left:11px;}
.dd-inner .item a{color:#fff;}
.dd-inner .item i{font: 400 9px/14px consolas;position:absolute;top:9px;right:14px;width:4px;height:14px;}
.dd-inner .item:hover{background:#f7f7f7;color:red;}
.dd-inner .item:hover a{color:red;}
.bb{width:228px;height:2px;background:#c81623;position:absolute;top:49px;}

.font-item1{position:absolute;left:210px;top:50px;z-index:100;width:999px;border:1px solid #c81623;border-left:none;background:#f7f7f7;display:none;}
.font-item1 .font-left{width:790px;float:left;padding:20px 0 0 20px;background:#f7f7f7;}
.font-item1 .font-left a{float:left;display:inline-block;margin-left:10px;line-height:24px;background:#7c7171;color:#fff;padding:0 0 0 8px;}
.font-item1 .font-left i{font: 400 9px/24px consolas;display:inline-block;cursor: pointer;width:23px;height:24px;line-height:24px;background:#5c5251;text-align:center;margin-left:8px;}
.font-item1 .font-left .one:hover a{background:#c81623;}
.font-item1 .font-left .one:hover i{background: #b1191a;}
.font-item1 .font-left .two:hover a{background:#c81623;}
.font-item1 .font-left .two:hover i{background: #b1191a;}
.font-item1 .font-left .three:hover a{background:#c81623;}
.font-item1 .font-left .three:hover i{background: #b1191a;}
.font-item1 .font-left .four:hover a{background:#c81623;}
.font-item1 .font-left .four:hover i{background: #b1191a;}
.font-item1 .font-left .five:hover a{background:#c81623;}
.font-item1 .font-left .five:hover i{background: #b1191a;}
.font-item1 .font-left .sex:hover a{background:#c81623;}
.font-item1 .font-left .sex:hover i{background: #b1191a;}
.font-item1 .font-lefty{clear:both;float:left;padding:6px 3px 56px 20px;background:#f7f7f7;position:relative;}
.font-item1 .font-lefty .fore1{width:100%;overflow:hidden;position:relative;}
.font-item1 .font-lefty .fore1 dt{font-weight:700;width:54px;padding: 8px 30px 0 0;float:left;text-align:right;}
.font-item1 .font-lefty .fore1 i{font: 400 9px/14px consolas;position:absolute;top:11px;left:64px;}
.font-item1 .font-lefty dd{width:620px;float:left;}
.font-item1 .font-lefty dd a{float:left;padding:0 8px;margin:10px 0;height:16px;line-height:16px;border-left:1px solid #e0e0e0;}
.font-item1 .font-right{float:right;width:168px;overflow:hidden;margin:-29px 20px 10px 0;}
.font-item1 .font-right a{float:left;display:inline;margin:1px 0 -4px 1px;}
.font-item1 .font-right a img{width:83px;height:35px;}
.font-item1 .font-righty{margin-right:20px;width:168px;float:right;}
.font-item:hover .font-item1{display:block;}
.fore-2:hover .font-item1{display:block;}
.fore-3:hover .font-item1{display:block;}
.fore-4:hover .font-item1{display:block;}
.fore-5:hover .font-item1{display:block;}
.fore-6:hover .font-item1{display:block;}
.fore-7:hover .font-item1{display:block;}
.fore-8:hover .font-item1{display:block;}
.fore-9:hover .font-item1{display:block;}
.fore-10:hover .font-item1{display:block;}
.fore-11:hover .font-item1{display:block;}
.fore-12:hover .font-item1{display:block;}
.fore-13:hover .font-item1{display:block;}
.fore-14:hover .font-item1{display:block;}
.fore-15:hover .font-item1{display:block;}
#lunbo{clear:both;position:absolute;top:63px;left:220px;width:720px;}
#one{width:730px;overflow:hidden;height:457px;}
#one li{float:left;width:0;}
#one .on{width:720px;}
#two .on{background:red;}
#two{position:absolute;right:295px;bottom:10px}
#two li{float:left;padding:1px  6px;border:1px solid #fff;margin-left:10px;background:#666;border-radius:20px;color:#fff;cursor: pointer;text-align:center;}
#todays {height: 164px;margin: 10px 0 20px;}
.root61 #todays .mt {display: block;}
.jd-clock-wrap {position: relative;width: 210px;float: left;display: inline-block;}
.slider-main .slider-panel {width: 1000px;}
#todays .slider {float: right;position: relative;width: 1000px;height: 164px;overflow: hidden;display: inline-block;}
 .slider-main .slider-panel div.fore1,.slider-main .slider-panel div.fore2,.slider-main .slider-panel div.fore3 {
width: 246px;
margin-right: 4px;
float: left;overflow: hidden;}
.slider-page a {
position: absolute;
top: 50%;
margin-top: -31px;
z-index: 1;
display: block;
width: 28px;
height: 62px;
line-height: 62px;
background: gray;
background: rgba(0,0,0,.2);

color: #fff;
text-align: center;
font-size: 22px;
font-weight: 400;
font-family: simsun;
}
.slider-prev {
left: 0;
}

.slider-next {
right: 0;
}
.slider:hover .slider-page{display:block;}
#guessyou {
height: 269px;
margin-bottom: 20px;
overflow: hidden;
width: 1210px;
clear:both;
}
#guessyou .mt, #share .mt, #special .mt, #special-buy .mt, .floor .mt {
height: 36px;
}
#guessyou .mt, #share .mt, #special .mt, #special-buy .mt, .floor .mt {
height: 36px;
}
.m, .mb, .mc, .mt, .p-detail, .p-img, .p-market, .p-name, .p-price, .sm, .smb, .smc, .smt {
overflow: hidden;
}
#guessyou .mt h2 {
padding-right: 228px;
background: url("../images/homebg.png") 85px -89px no-repeat;
}
#guessyou .mt .extra {
height: 18px;
padding-right: 25px;
margin-top: -40px;
background: url("../images/homebg.png") -310px -5px no-repeat;
}
#guessyou .mt .extra, #guessyou .mt .tab, #share .mt .extra, #share .mt .tab, #special .mt .extra, #special .mt .tab, #special-buy .mt .extra, #special-buy .mt .tab, .floor .mt .extra, .floor .mt .tab {
float: right;
display: inline;
}
#guessyou .spacer {
position: relative;
height: 1px;
line-height: 0;
font-size: 0;
background-color: #d1d1d1;
}
#guessyou .spacer i {
width: 365px;
height: 5px;
overflow: hidden;
position: absolute;
right: -1px;
top: -2px;
background: #b72323 url("../images/homebg.png") 0 -124px no-repeat;
}
em, i, u {
font-style: normal;
}
#guessyou ul {
height: 210px;
padding-top: 20px;
overflow: hidden;
border: 1px solid #d1d1d1;border-top: none;
}
ol, ul {
list-style: none;
}
.root61 #guessyou li {
width: 201px;
}
#guessyou li {
float: left;
width: 197px;
overflow: hi1dden;
padding-bottom: 15px;
}
#guessyou .p-img {
text-align: center;
margin-bottom: 10px;
}
#guessyou .p-img img {
border: 0;
vertical-align: middle;
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
margin: 0;
padding: 0;
}
#guessyou li.fore1 .p-info {
border-left: none;
}
#guessyou .p-info {
padding: 0 36px;
border-left: 1px solid #e6e6e6;
}
#guessyou .p-name {
height: 36px;
margin-bottom: 6px;
}
#guessyou .p-price {
color: #b51d1a;
font-size: 18px;
}
#guessyou .p-price i {
font-size: 14px;
}
.root61 .w {
width: 1210px;
}
.home-special-buy-v4 {
margin-bottom: 20px;
}
.home-special-buy-v4 h2 {
font-size: 20px;
line-height: 36px;
}
.home-special-buy-v4 .hs-content {
height: 405px;
border: 1px solid #ededed;
overflow: hidden;
}
.home-special-buy-v4 .hs-content .has-col1, .home-special-buy-v4 .hs-content .has-col2, .home-special-buy-v4 .hs-content .has-col3 {
float: left;
height: 100%;
width: 404px;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item, .home-special-buy-v4 .hs-content .has-col1 .has-item-small, .home-special-buy-v4 .hs-content .has-col2 .has-item, .home-special-buy-v4 .hs-content .has-col2 .has-item-small, .home-special-buy-v4 .hs-content .has-col3 .has-item, .home-special-buy-v4 .hs-content .has-col3 .has-item-small {
position: relative;
display: block;
height: 246px;
border-bottom: 1px solid #ededed;
border-right: 1px solid #ededed;
overflow: hidden;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item a, .home-special-buy-v4 .hs-content .has-col1 .has-item-small a, .home-special-buy-v4 .hs-content .has-col2 .has-item a, .home-special-buy-v4 .hs-content .has-col2 .has-item-small a, .home-special-buy-v4 .hs-content .has-col3 .has-item a, .home-special-buy-v4 .hs-content .has-col3 .has-item-small a {
color: #666;
text-decoration: none;
}
.home-special-buy-v4 .hs-content .has-col2 {
background-color: #f7f7f7;
width: 229px;
}
.root61 .home-special-buy-v4 .hs-brands {
width: 171px;
}
.root61 .home-special-buy-v4 .has-col1 .has-item, .root61 .home-special-buy-v4 .has-col3 .has-item {
width: 403px;
}
.root61 .home-special-buy-v4 .has-col1 .has-item-small, .root61 .home-special-buy-v4 .has-col3 .has-item-small {
width: 201px;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item-small, .home-special-buy-v4 .hs-content .has-col2 .has-item-small, .home-special-buy-v4 .hs-content .has-col3 .has-item-small {
float: left;

height: 158px;
border-bottom: none;
}

.home-special-buy-v4 .hs-content .has-col1 .has-item .area-tit, .home-special-buy-v4 .hs-content .has-col1 .has-item-small .area-tit, .home-special-buy-v4 .hs-content .has-col2 .has-item .area-tit, .home-special-buy-v4 .hs-content .has-col2 .has-item-small .area-tit, .home-special-buy-v4 .hs-content .has-col3 .has-item .area-tit, .home-special-buy-v4 .hs-content .has-col3 .has-item-small .area-tit {
font: 700 15px/40px "Microsoft Yahei";
color: #333;
text-align: center;
z-index: 1;
border-bottom: 1px dashed #e0e0e0;
margin: 0 20px;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item .sub-tit, .home-special-buy-v4 .hs-content .has-col1 .has-item-small .sub-tit, .home-special-buy-v4 .hs-content .has-col2 .has-item .sub-tit, .home-special-buy-v4 .hs-content .has-col2 .has-item-small .sub-tit, .home-special-buy-v4 .hs-content .has-col3 .has-item .sub-tit, .home-special-buy-v4 .hs-content .has-col3 .has-item-small .sub-tit {
position: absolute;
left: 10px;
top: 89px;
color: #333;
font-family: 'Microsoft Yahei';
line-height: 1.2;
}
.root61 .home-special-buy-v4 .has-col1 .has-item img, .root61 .home-special-buy-v4 .has-col1 .has-item-small img, .root61 .home-special-buy-v4 .has-col2 .has-item img, .root61 .home-special-buy-v4 .has-col2 .has-item-small img, .root61 .home-special-buy-v4 .has-col3 .has-item img, .root61 .home-special-buy-v4 .has-col3 .has-item-small img {
margin-left: 0;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item .sub-tit .tit, .home-special-buy-v4 .hs-content .has-col1 .has-item-small .sub-tit .tit, .home-special-buy-v4 .hs-content .has-col2 .has-item .sub-tit .tit, .home-special-buy-v4 .hs-content .has-col2 .has-item-small .sub-tit .tit, .home-special-buy-v4 .hs-content .has-col3 .has-item .sub-tit .tit, .home-special-buy-v4 .hs-content .has-col3 .has-item-small .sub-tit .tit {
font-weight: 700;
font-size: 16px;
margin-bottom: 15px;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item .sub-tit .desc, .home-special-buy-v4 .hs-content .has-col1 .has-item-small .sub-tit .desc, .home-special-buy-v4 .hs-content .has-col2 .has-item .sub-tit .desc, .home-special-buy-v4 .hs-content .has-col2 .has-item-small .sub-tit .desc, .home-special-buy-v4 .hs-content .has-col3 .has-item .sub-tit .desc, .home-special-buy-v4 .hs-content .has-col3 .has-item-small .sub-tit .desc {
margin-bottom: 7px;
}

.home-special-buy-v4 .hs-content .has-col1 .has-item .sub-tit .promotion, .home-special-buy-v4 .hs-content .has-col1 .has-item-small .sub-tit .promotion, .home-special-buy-v4 .hs-content .has-col2 .has-item .sub-tit .promotion, .home-special-buy-v4 .hs-content .has-col2 .has-item-small .sub-tit .promotion, .home-special-buy-v4 .hs-content .has-col3 .has-item .sub-tit .promotion, .home-special-buy-v4 .hs-content .has-col3 .has-item-small .sub-tit .promotion {
color: #c81623;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item-small .sub-tit, .home-special-buy-v4 .hs-content .has-col2 .has-item-small .sub-tit, .home-special-buy-v4 .hs-content .has-col3 .has-item-small .sub-tit {
top: 48px;
}
.root61 .home-special-buy-v4 .has-col2 .has-item, .root61 .home-special-buy-v4 .has-col2 .has-item-small {
width: 228px;
}
.home-special-buy-v4 .hs-content .has-col1 .has-item .area-tit, .home-special-buy-v4 .hs-content .has-col1 .has-item-small .area-tit, .home-special-buy-v4 .hs-content .has-col2 .has-item .area-tit, .home-special-buy-v4 .hs-content .has-col2 .has-item-small .area-tit, .home-special-buy-v4 .hs-content .has-col3 .has-item .area-tit, .home-special-buy-v4 .hs-content .has-col3 .has-item-small .area-tit {
font: 700 15px/40px "Microsoft Yahei";
color: #333;
text-align: center;
z-index: 1;
border-bottom: 1px dashed #e0e0e0;
margin: 0 20px;
}
.home-special-buy-v4 .hs-content .hs-brands {
float: right;
height: 100%;
background-color: #fff;
overflow: hidden;
}
.hidein{font-size:20px;border:1px solid red;width:20px;height:20px;position:absolute;line-height:20px;text-align:center;cursor:pointer}
.root61 .home-special-buy-v4 .hs-brands .brands-left, .root61 .home-special-buy-v4 .hs-brands .brands-right {
width: 85px;
}
.home-special-buy-v4 .hs-content .hs-brands .brands-left ul, .home-special-buy-v4 .hs-content .hs-brands .brands-right ul {
margin-top: -13px;
overflow: hidden;
}
.root61 .home-special-buy-v4 .hs-brands .brands-left li, .root61 .home-special-buy-v4 .hs-brands .brands-right li {
width: 74px;
margin: 0;
}
.home-special-buy-v4 .hs-content .hs-brands .brands-left li, .home-special-buy-v4 .hs-content .hs-brands .brands-right li {
position: relative;
float: right;
width: 64px;
height: 57px;
border-bottom: 1px dashed #e0e0e0;
}

.home-special-buy-v4 .hs-content .hs-brands .brands-left .item {
right: 10px;
border-right:1px dashed #CCC; 
}
.home-special-buy-v4 .hs-content .hs-brands .brands-left .item, .home-special-buy-v4 .hs-content .hs-brands .brands-right .item {
position: absolute;
top: 0;
display: block;
width: 85px;
height: 57px;
overflow: hidden;
}

.home-special-buy-v4 .hs-content .hs-brands .brands-left, .home-special-buy-v4 .hs-content .hs-brands .brands-right {
position: relative;
float: left;
width: 75px;
height: 381px;
overflow: hidden;
margin-top: 13px;
}
.footer-banner-1{padding: 0 5px;margin-bottom: 10px;}
#denmark{
	position: relative;
	overflow: hidden;
	width: 400px;
	height: 300px;
	border: 3px solid #000;
	margin: 0 auto;
}
#box span{
	position: absolute;
	left: 400px;
	white-space: nowrap;
}
#flow{
		width: 100px;
        height: 100px;
        background-color: red;
		position: fixed;
        z-index: 999;
		left: 50%;
			top: 50%;
}